.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 2rem;
  scroll-margin-top: 6rem;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 2rem;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.25rem;
  margin: 0rem 0rem 4rem 0rem;
}

.titleBox > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  gap: 0.5rem;

  font-weight: 500;
}

.titleBox h2 {
  text-align: center;

  font-size: 3rem;
  font-weight: 500;

  color: var(--black);
}

.titleBox h3 {
  text-align: center;

  font-size: 1.3rem;
  font-weight: 500;

  color: var(--fg-title);
}

.line {
  width: 50%;
  border: 0.5px solid var(--instant-color);

  margin-bottom: 1rem;
}

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20rem;
  width: 100%;

  gap: 1rem;
  padding-top: 2rem;

  text-align: center;
  line-height: 2;
}

.contentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  gap: 3rem;
}

.contentItem img {
  width: 4rem;
}

.itemTextBoxRight {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 0.5rem;

  line-height: 1;
}

.itemTextBoxRight h3 {
  text-align: right;

  font-size: 1.25rem;

  color: var(--fg-title);
}

.itemTextBoxRight h4 {
  text-align: right;

  font-size: 1rem;
  font-weight: 500;

  color: var(--fg-title);
}

.itemTextBoxLeft {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 0.5rem;

  line-height: 1;
}

.itemTextBoxLeft h3 {
  text-align: left;

  font-size: 1.25rem;

  color: var(--fg-title);
}

.itemTextBoxLeft h4 {
  text-align: left;

  font-size: 1rem;
  font-weight: 500;
}

.mainBanner {
  display: block;
}

.mainBannerMobile {
  display: none;
}

@media screen and (max-width: 500px) {
  .titleBox h2 {
    font-size: 2rem;
  }

  .contentWrapper {
    grid-template-columns: 1fr;
    width: 100%;

    gap: 2rem;
  }

  .contentItem {
    gap: 1rem;
  }

  .itemBox {
    padding: 0 2rem;
    max-width: 100%;
    gap: 3rem;
  }

  .mainBanner {
    display: none;
  }

  .mainBannerMobile {
    display: block;
    padding: 2rem;
  }
}
