.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;

  padding: 4rem 2rem;
  scroll-margin-top: 6rem;

  line-height: 1.4;
}

.container h4 {
  text-align: center;

  font-weight: 500;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.25rem;
  margin: 0rem 0rem 4rem 0rem;
}

.titleBox > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.titleBox h2 {
  text-align: center;

  font-size: 3rem;
  font-weight: 500;

  color: var(--black);
}

.titleBox h3 {
  text-align: center;

  font-size: 1.3rem;
  font-weight: 500;

  color: var(--fg-title);
}

.line {
  width: 50%;
  border: 0.5px solid var(--instant-color);

  margin-bottom: 1rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;

  gap: 2rem;
}

.content iframe {
  border-radius: 0.5rem;
  border: 0;
}

@media screen and (max-width: 500px) {
  .content {
    width: 100%;
  }

  .titleBox h2 {
    font-size: 2rem;
  }
}
