.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: fit-content;

  gap: 1rem;
  margin-bottom: 4rem;
  scroll-margin-top: 6rem;
}

.firstSide {
  width: 100%;

  gap: 1rem;
}

.image {
  width: 50vw;
  height: 100%;
}

.mobileImage {
  display: none;
}

.lastSide {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1rem;
  padding: 0 1rem;

  color: var(--black);
}

.lastSide > h3 {
  font-size: 1.35rem;
  font-weight: 500;
}

.buttonBox {
  display: flex;
  justify-content: flex-end;
}

.button {
  background-color: var(--instant-color);
  padding: 0.5rem 1.5rem;
  color: var(--white);

  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    width: 100%;
    padding-top: 1rem;
    gap: 2rem;
  }

  .firstSide {
    display: flex;
    justify-content: center;
    padding-left: 1.5rem;
  }

  .firstSide .image {
    display: none;
  }

  .firstSide .mobileImage {
    display: block;
    width: 90%;
    height: fit-content;
  }

  .lastSide h3 {
    text-align: center;
  }

  .button {
    background-color: var(--instant-color);
    padding: 0.8rem 1.5rem;
    color: var(--white);
    width: 100%;

    font-size: 1.2rem;
  }
}
