.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4rem 2rem;
  scroll-margin-top: 6rem;

  line-height: 1.4;
}

.container h4 {
  text-align: center;

  font-weight: 500;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.25rem;
  margin: 0rem 0rem 4rem 0rem;
}

.titleBox > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.titleBox h2 {
  text-align: center;

  font-size: 3rem;
  font-weight: 500;

  color: var(--black);
}

.titleBox h3 {
  text-align: center;

  font-size: 1.3rem;
  font-weight: 500;

  color: var(--fg-title);
}

.line {
  width: 50%;
  border: 0.5px solid var(--instant-color);

  margin-bottom: 1rem;
}

.contentWrapper {
  display: flex;
  width: 77rem;

  overflow: hidden;

  gap: 1rem;
}

.itemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 23rem;
  min-width: 23rem;

  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 2;

  background-color: var(--white-darker);
  border-radius: 0.5rem;
}

.itemBox img {
  margin: 1rem 0;
}

.itemBox h3 {
  text-align: center;

  font-size: 1.2rem;
  font-weight: 500;

  color: var(--fg-title);
}

.titleContentBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  gap: 1rem;
  padding: 1.5rem;

  border: 1px solid #e1e8ed;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.contentTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contentTitle img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.contentTitle div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
}

.contentTitle h3 {
  font-weight: 600;
}

.contentTitle h4 {
  color: #697882;
}

.commentBox {
  display: flex;
  width: 100%;
  height: 100%;

  padding: 1.5rem;

  border: 1px solid #e1e8ed;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.commentBox h4 {
  text-align: start;
  font-weight: 500;
  color: var(--fg-title);
}

@media screen and (max-width: 500px) {
  .contentWrapper {
    display: flex;
    max-width: 23rem;
  }

  .itemBox {
    max-width: 23rem;
    min-width: 23rem;
  }

  .titleBox h2 {
    font-size: 2rem;
  }
}
